<button
  id="shareButton"
  class="share-button w-full text-center py-4 bg-white text-black hover:bg-blue-400 rounded-lg plausible-event-name=Compartilhe"
>
  Compartilhe este site
</button>

<style>
  .share-button {
    transition: all 0.06s; /* Add a 0.3s transition for background-color */
  }
</style>

<script>
  let defaultText = "Compartilhe este site";
  let copiedText = "Copiado para seu clipboard!";

  document.addEventListener("DOMContentLoaded", () => {
    const shareButton = document.getElementById("shareButton");

    shareButton!.addEventListener("click", () => {
      navigator.clipboard.writeText(window.location.href).then(() => {
        shareButton!.textContent = copiedText;

        setTimeout(() => {
          shareButton!.textContent = defaultText;
        }, 1200); // Reset after 2 seconds
      });
    });
  });
</script>
