---
import LinkButton from "../lib/LinkButton.astro";
import ShareButton from "../lib/ShareButton.astro";
---

<html lang="pt">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Villa Rica Pousada Boutique - Acomodações de luxo em um ambiente tranquilo e encantador. Faça sua reserva agora!"
    />
    <meta
      name="keywords"
      content="Villa Rica, pousada, boutique, acomodações, reservas, luxo, tranquilidade, brumadinho, inhotim, turismo"
    />
    <meta property="og:title" content="Villa Rica Informações" />
    <meta
      property="og:description"
      content="Villa Rica Pousada Boutique - Acomodações de luxo em um brumadinho, próximo ao inhotim. Faça sua reserva agora!"
    />
    <meta property="og:image" content="/background.jpeg" />
    <meta property="og:url" content="https://www.villaricapousada.com.br" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Villa Rica Informações" />
    <meta
      name="twitter:description"
      content="Villa Rica Pousada Boutique - Acomodações de luxo em um brumadinho, próximo ao inhotim. Faça sua reserva agora!"
    />
    <meta name="twitter:image" content="/background.jpeg" />
    <title>Villa Rica Informações</title>
    <style>
      .background {
        background-image: url("/background.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        flex: 1;
      }
    </style>

    <script defer data-domain="villarica.info" src="https://a.adob.dev/js/script.file-downloads.outbound-links.js"></script>
    <script nomodule="">window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

  </head>
  <body class="flex flex-col min-h-screen">
    <header
      class="flex items-center justify-center py-8 bg-opacity-80 w-full fixed top-0 z-10"
    >
      <img
        src="/logo.png"
        alt="Villa Rica Pousada Boutique Logo"
        height="100"
        width="100"
      />
    </header>

    <main
      class="background flex flex-col items-center justify-end gap-4 w-full p-4"
    >
      <div class="flex flex-col gap-4 max-md:w-full w-1/2">
        <LinkButton
          href={`https://wa.me/5531995196452?text=${encodeURIComponent("Olá gostaria de mais informações!!")}`}
          highlight={true}
        >
          WhatsApp
        </LinkButton>
        <LinkButton href="https://www.villaricapousada.com.br/br/reserva">
          Site Reservas
        </LinkButton>
        <LinkButton href="https://cafedavilla.umenu.app/cliente/cardapio"
          >Cardápio</LinkButton
        >
        <LinkButton href="https://www.villaricapousada.com.br/br/a-pousada">
          Fotos
        </LinkButton>
        <LinkButton href="https://www.google.com/maps/dir/?api=1&travelmode=driving&destination=-20.189874669251974,-44.01335342174035">
          Localização
        </LinkButton>
        <ShareButton />
      </div>
    </main>
  </body>
</html>
